.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
  padding: 10%;;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link, .link:visited {
  color: #fba161;
  text-decoration: none;
}

.team-profile-pic {
  border-radius: 50px;
  border: 4px #fba161 solid;
}

h1 {
  color: #fba161;
}

nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #282c34;
  opacity: 0.98;
  z-index: 100;
}
nav ul {
  list-style-type: none;
  display: flex;
}

nav a, nav a:visited {
  color: #fba161;
  text-decoration: none;
  margin: 10px;
}

footer {
  /* 282c34 */
  padding: 50px;
  background-color: #1c1f24;
  color: #fba161;
  font-size: small;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
footer ul li {
  margin:5px;
  font-size: 25px;
}

html {
  scroll-padding-top: 120px; /* height of sticky header */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
